<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos em Tempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Lista de Produtos em Tempo Real</h1>
    <ul id="product-list">
        {{#each products}}
            <li id="product-{{id}}">{{title}} - {{description}} - {{price}} - {{thumbnail}} - {{code}} - {{stock}}</li>
        {{/each}}
    </ul>

    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';

            products.forEach(product => {
                const li = document.createElement('li');
                li.id = `product-${product.id}`;
                li.textContent = `${product.title} - ${product.description} - ${product.price} - ${product.thumbnail} - ${product.code} - ${product.stock}`;
                productList.appendChild(li);
            });
        });
    </script>
</body>
</html>
